.cart {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  /* background-color: rgba(0, 0, 0, 0.171); */
}

.cart h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.empty-cart {
  text-transform: lowercase;
  margin-top: 1rem;
  text-align: center;
}

.cart footer {
  margin-top: 4rem;
  text-align: center;
}

.cart-total h4 {
  text-transform: capitalize;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-continue-order {
  background: rgba(44, 43, 43, 0.623);
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid black;
  margin-top: 2.25rem;
  border-radius: 6px;
  cursor: pointer;
}
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  outline: none;
}
.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.remove-btn {
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 0.375rem;
  transition: all 0.3 linear;
}
.remove-btn:hover {
  color: rgba(255, 255, 255, 0.5);
}
.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.amount-btn svg {
  fill: #fff;
}
.amount-btn:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}
.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}
