@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: radial-gradient(#2a313f, #061331d1);
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: calc(56px + 4rem);
}
